In [6]:
import json
import pandas as pd
from a2ginputstream import A2GClient
import random
import logging

logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

## read data

In [7]:
print("reading data...")

print ("reading users...")
users_str = open("../data/raw/mock_users.json", "r").read()
users = json.loads(users_str)

print ("reading machines...")
machines_str = open("../data/raw/mock_machines.json", "r").read()
machines = json.loads(machines_str)

reading data...
reading users...
reading machines...

In [8]:
df_users = pd.DataFrame(users)
df_users.head()

              name   role
0         John Doe  admin
1         Jane Doe   user
2       John Smith   user
3     Smith Alfred   user
4  Richard Alfredo   user

## merge data

In [9]:
import datetime


print("merging data...")

# 70, 25, 25%
def get_status():
    r = random.randint(0, 100)
    if r < 50: return "active"
    elif r < 75: return "inactive"
    else: return "error"

df_users["machines"] = df_users["name"].apply(lambda _: machines[random.randint(0, len(machines)-1)])
df_users["status"] = df_users["name"].apply(lambda _: get_status())
df_users["ton"] = df_users["machines"].apply(lambda _: random.randint(0, 100))
df_users["start_on"] = df_users["machines"].apply(lambda _: (datetime.datetime.utcnow() - datetime.timedelta(minutes=5)).isoformat())
df_users["end_on"] = df_users["machines"].apply(lambda _: datetime.datetime.utcnow().isoformat())
print("done merging data")

merging data...
done merging data

In [10]:
df_users.head()

,name,role,machines,status,ton,start_on,end_on
0,John Doe,admin,C302,inactive,67,2024-11-25T16:48:41.612685,2024-11-25T16:53:41.613248
1,Jane Doe,user,C303,active,13,2024-11-25T16:48:41.612685,2024-11-25T16:53:41.613248
2,John Smith,user,C303,inactive,23,2024-11-25T16:48:41.612685,2024-11-25T16:53:41.613248
3,Smith Alfred,user,C303,inactive,84,2024-11-25T16:48:41.612685,2024-11-25T16:53:41.613248
4,Richard Alfredo,user,C302,active,93,2024-11-25T16:48:41.612685,2024-11-25T16:53:41.613248

## insert data

In [11]:
print("sending data...")
USER_PAT = "8f8ff571c7344ce9b6fae09f1ff9c5b1"
IKEY = "467c80c4471743808fb1"
client = A2GClient(token=USER_PAT)
client.insert_data(IKEY, df_users.to_dict("records"))

2024-11-25 13:53:43,951 - DEBUG - Starting new HTTPS connection (1): v2apigateway.a2g.io:443

sending data...

2024-11-25 13:53:44,514 - DEBUG - https://v2apigateway.a2g.io:443 "GET /Inputstream/Ikey/467c80c4471743808fb1 HTTP/1.1" 200 None
2024-11-25 13:53:44,525 - INFO - Getting inputstream 467c80c4471743808fb1 from A2G...
2024-11-25 13:53:44,529 - WARNING - Inputstream discovered
2024-11-25 13:53:44,535 - DEBUG - Starting new HTTPS connection (1): v2streams.a2g.io:443
2024-11-25 13:53:45,447 - DEBUG - https://v2streams.a2g.io:443 "POST /Data/Insert HTTP/1.1" 200 None
2024-11-25 13:53:45,477 - INFO - batch 1, docs: [0 - 31] - 200 - {"message":"Data Received Success, ADanilo inputstream","data":null,"success":true,"errors":null}